n8n-workflow-daily-report.json
{
  "name": "Elyasr Daily Report → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Setiap Hari 07:00 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://operation-ops.jva2rz.easypanel.host/api/report/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "elyasr-report-key",
          "name": "Elyasr Report API Key"
        }
      },
      "id": "fetch-report",
      "name": "Ambil Data Harian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format angka ke Rupiah\nfunction fmt(n) {\n  return new Intl.NumberFormat('id-ID', {\n    style: 'currency',\n    currency: 'IDR',\n    maximumFractionDigits: 0\n  }).format(n);\n}\n\nfunction fmtDiff(val, pct) {\n  if (val === null || val === undefined) return '—';\n  const arrow = val >= 0 ? '↑' : '↓';\n  const sign  = val >= 0 ? '+' : '';\n  const pctStr = pct !== null ? ` (${sign}${pct}%)` : '';\n  return `${arrow} ${sign}${fmt(Math.abs(val))}${pctStr}`;\n}\n\nconst d = $input.item.json.data;\nconst s = d.summary;\nconst c = d.comparison;\n\nconst platformLines = d.platforms\n  .map(p => `├ ${p.platform.padEnd(8)} : ${fmt(p.omzet)} (${p.count} order)`)\n  .join('\\n');\n\nconst aging = d.aging;\nconst agingStr = Object.entries(aging.detail || {})\n  .map(([k, v]) => `├ ${k}: ${v}`)\n  .join('\\n');\n\nconst tgl = new Date(d.date + 'T00:00:00+07:00').toLocaleDateString('id-ID', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nconst margin = s.omzet > 0 ? ((s.grossProfit / s.omzet) * 100).toFixed(1) : '0';\n\nconst msg = [\n  `📊 *LAPORAN HARIAN ELYASR*`,\n  `${tgl} — 07.00 WIB`,\n  ``,\n  `💰 *OMZET & PROFIT*`,\n  `├ Real Omzet    : ${fmt(s.omzet)}`,\n  `├ HPP Total     : ${fmt(s.hpp)}`,\n  `└ Gross Profit  : ${fmt(s.grossProfit)} *(${margin}%)*`,\n  ``,\n  `📦 *ORDER*`,\n  `├ Total Masuk   : ${s.totalOrder} order`,\n  `├ Terkirim      : ${s.terkirim} order`,\n  `├ Pending Kirim : ${s.perluKirim} order`,\n  `└ Dibatalkan    : ${s.batal} order`,\n  ``,\n  `🏪 *PER PLATFORM*`,\n  platformLines,\n  ``,\n  `⏰ *AGING BACKLOG*`,\n  agingStr || `Tidak ada`,\n  ``,\n  `🔥 *STOK KRITIS*: ${d.stokKritis} SKU perlu restock`,\n  ``,\n  `📈 *VS KEMARIN*`,\n  `├ Omzet  : ${fmtDiff(c.omzetDiff, c.omzetDiffPct)}`,\n  `└ Order  : ${c.orderCountDiff >= 0 ? '↑' : '↓'} ${Math.abs(c.orderCountDiff)} order`,\n].join('\\n');\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-message",
      "name": "Format Pesan Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "GANTI_DENGAN_CHAT_ID_TELEGRAM_KAMU",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Elyasr Telegram Bot"
        }
      },
      "id": "send-telegram",
      "name": "Kirim ke Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Setiap Hari 07:00 WIB": {
      "main": [[{ "node": "Ambil Data Harian", "type": "main", "index": 0 }]]
    },
    "Ambil Data Harian": {
      "main": [[{ "node": "Format Pesan Telegram", "type": "main", "index": 0 }]]
    },
    "Format Pesan Telegram": {
      "main": [[{ "node": "Kirim ke Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["elyasr", "report", "telegram"]
}
